@font-face {
        font-family: LatoRegular;
        src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
        font-family: RobotoLight;
        src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
        font-family: RobotoMedium;
        src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
        font-family: RobotoRegular;
        src: url('../fonts/Roboto-Regular.ttf');
}