.navbar {
        height: 40px;
        background-color: #0D0D0D;
        margin-left: 300px;
        display: flex;
        &_def {
                color: #fff;
                font-size: 11px;
                font-family: Roboto-Regular;
                text-decoration: none;
                text-transform: uppercase;
                position: relative;
                width: 86px;
                margin-left: 45px;
                top: 10px;
                
                &:first-child {
                        margin-left: 10px;
                }
                
                &:hover{
                        background-color: #3137C9;
                        
                }
                
                &_dropdown_btn{
                        right: 5px;
                        top: 9px;
                        position: relative;
                }

                &_right {
                        color: #fff;
                        font-size: 11px;
                        font-family: Roboto-Regular;
                        text-decoration: none;
                        text-transform: uppercase;
                        margin-left: 15px;
                        display: flex;                
                       
                        &_search {
                                height: 40px;
                                border: none;
                                background-color: #202020;
                                width: 212px;
                                padding-left: 20px;
                                display: flex;
                                color: #fff;
                                outline: none;
                                
                              
                                
                                
                        }
                }

        }

}