.sidebar {
        width: 300px;
        height: 100%;
        background-color: #202020;
        position: fixed;

        &_divic {
                width: 100px;
                height: 100px;
                display: block;
                max-width: 100%;
                border-radius: 50%;
                z-index: 1;
                position: relative;
                bottom: 45px;
                margin: 0 auto;
        }

        &_bg {
                z-index: 0;
                display: block;
                width: 300px;
                height: 180px;
        }

        &_btn {
                &_red {
                        background-color: #ED3024;
                        width: 120px;
                        height: 40px;
                        border-radius: 25px;

                }

                &_purple {
                        background-color: #3137C9;
                        width: 120px;
                        height: 40px;
                        border-radius: 25px;
                }
        }

        &_href {
                display: inline;



                &_elem {
                        width: 25px;

                }
        }
}

h1 {
        position: relative;
        font-size: 18px;
        color: white;
        font-family: RobotoMedium;
        text-align: center;
        bottom: 50px;
}

h2 {
        position: relative;
        font-family: RobotoLight;
        font-size: 14px;
        color: white;
        text-align: center;
        bottom: 45px;
}

p {
        text-align: center;
        color: white;
        font-family: RobotoLight;
        font-size: 12px;
        width: 260px;
}

hr {
        width: 260px;
        align-items: center;
}