.sidebar {
        width: 300px;
        height: 100%;
        background-color: #202020;
        position: fixed;


        &_bg {
                display: block;
                width: 300px;
                height: 180px;
                z-index: 0;
        }
        
        &_icon {
                display: block;
                margin: 0 auto;
                width: 100px;
                height: 100px;
                border-radius: 50px;
                border: 3px solid #fff;
                z-index: 1;
                position: relative;
                bottom: 50px;

        }
        
        h1 {
                font-family: Roboto-Regular;
                font-size: 18px;
                color: #fff;
                text-align: center;
                margin-top: -35px;
                margin-bottom: 5px;

        }

        h2 {
                font-family: Roboto-Light;
                color: #DEDEDE;
                font-size: 14px;
                text-align: center;
        }

        &_hrefs {
                margin-top: 18px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-left: 35%;
                margin-right: 35%;
        }

        &_href {
                display: block;
                align-items: center;
                
        }



        p {
                font-family: Roboto-Regular;
                color: #fff;
                font-size: 12px;
                display: block;
                align-items: center;
                text-align: center;
                margin-left: 20px;
                margin-right: 20px;
                line-height: 18px;
                margin-top: 60px;
        }

        &_btn {
                display: flex;
                justify-content: space-between;
                margin-left: 7%;
                margin-right: 7%;
                &_red {
                        background-color: #ED3024;
                        width: 120px;
                        height: 40px;
                        border-radius: 25px;
                        font-family: Roboto-Medium;
                        color: #fff;
                        font-size: 12px;
                        border: none;
                        margin-top: 70px;
                }

                &_purple {
                        background-color: #3137C9;
                        width: 120px;
                        height: 40px;
                        border-radius: 25px;
                        font-family: Roboto-Medium;
                        color: #fff;
                        font-size: 12px;
                        border: none;
                        margin-top: 70px;
                }
        }
}