.Stories {
        width: 600px;
        height: 195px;
        margin-top: 200px;
        margin: 0 auto;
        display: flex;
        margin-top: 60px;
        justify-content: space-between;
        background-color: #181818;
        
        &_img {
                width: 140px;
                height: 195px;

        }

        &_h1 {
                position: relative;
                font-family: 'Lato-Regular';
                font-size: 12px;
                margin-left: 12px;
                text-align: left;

                bottom: 180px;
        }

        &_date {
             
                
                font-family: 'Roboto-Regular';
                
        }





}