.Stories {

        width: 700px;
        height: 195px;
        margin-top: 60px;
        margin-left: 38%;
        display: flex;
        justify-content: space-between;
        align-items: center;




        &_img {
                width: 140px;
                height: 195px;




        }








}