@import 'variables';
@import 'fonts';
@import 'sidebar';
@import 'navbar';
@import 'dropdown';
@import 'stories';

* {
        font-family: "Roboto" sans-serif;
        margin: 0;
        padding: 0;
}

.hide {
        display: none;
}

.show {
        display: block;
}

.shadow {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

.rotate {
        transform: rotate(180deg);
}