@import 'sidebar';
@import 'fonts';
<<<<<<< HEAD
=======
@import 'navbar';
>>>>>>> 8e25528f7ba8859f115cc58af18394a6e2f03a3b

* {
        font-family: "Roboto" sans-serif;
        margin: 0;
        padding: 0;
}